@import "bootstrap/scss/bootstrap";

body {
    font-family: "Inter", "Segoe UI", sans-serif;
}

.card-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.table-responsive {
    max-height: 600px;
}
